body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
  background-color: cornflowerblue;
}

.encabezado{
  font-family: Sunday Morning;
  font-size: 40px;
  text-align: center;
}

.contenido{
  text-align: center;
  font-size: 30px;
  font-family: Sunday Morning;
  color: blueviolet;
}

.pie h3{
  text-align: center;
  font-size: 20px;
  font-family: Sunday Morning;
  color: blueviolet;
}

#carrera{
  margin-right: 20rem;
}

#semestre{
  margin-left: 20rem;
  margin-top: -2.6rem;
}
